body {
  background: #dddddd;
}

#canvas {
  position: absolute;
  left: 10px;
  top: 1.5em;
  margin: 20px;
  border: thin solid #aaaaaa;
}

#snapshotImageElement {
  position: absolute;
  left: 10px;
  top: 1.5em;
  margin: 20px;
  border: thin solid #aaaaaa;
}
