* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  font-family: "Zen Tokyo Zoo", cursive;
  color: white;
  overflow-x: hidden;
}

.landing {
  min-height: 100vh;

  background-image: url("./landing.jpg");
  background-position: center;
  background-size: cover;

  padding: 0rem 5rem;
  z-index: -1;
}

.landing::after {
  content: "";

  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./noise.gif");
  background-position: center;
  background-size: 70px;
  background-repeat: repeat;

  opacity: 0.2;
  overflow: hidden;
}

nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  font-size: 1.2rem;
  font-weight: 700;
  color: wheat;
  padding-left: 10rem;
}

#logo {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 2rem;
}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;

  transform: translate3d(-50%, -30%, 0);
  font-size: 5rem;
}

.intro {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: black;
}

.slider {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  background: rgb(97, 105, 109);
  transform: translateY(100%);
}

.intro-text {
  font-family: "Zen Tokyo Zoo", cursive;
  color: rgba(225, 255, 243);
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  display: inline-block;
  transform: translateY(100%);
}
