* {
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #070707;
}

canvas {
    width: 100%;
    height: 100%;

    z-index: 0;
}

ul {

    position: absolute;
    left: 50%;
    bottom: 0;

    display: flex;
    transform: translate(-50%, 0);
    z-index: 2;
}

ul li {
    width: 70px;
    height: 70px;

    display: inline-block;

    cursor: pointer;
    margin: 0 10px;

}

ul li.selected {
    border: 4px solid #f7f7f7
}

ul li img {
    width: 100%;
    height: 100%;
}